body {
  background-color: lightblue;
  min-height: 100vh;
  font-family: sans-serif;
  font-weight: 500;
  color: rgb(71, 68, 68);
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
